body {
    font-family: 'Roboto', sans-serif;
    background-color:#F5F5F5;
}

h1 {
  font-size:25px;
  font-weight:bold;
}

h2 {
  font-size:20px;
  font-weight:bold;
}

button {
  background-color: black;
  color: white;
  padding: 1px 15px;
  margin: 5px; 
  border-radius: 6px;
}

input {
  background-color:lightgray;
  border-color:darkgray;
}
